@use '../abstracts/variables';
@use '../abstracts/mixins';

/************************/
/* LINECHART COMPONENT */
/**********************/

.linechart {
    background-color: variables.$primary-color;
    width: 100%;
    height: 263px;
}