@use '../abstracts/variables';
@use '../abstracts/mixins';

/**********************/
/* PIECHART COMPONENT */
/**********************/

.piechart {
    background-color: #fbfbfb;
    width: 100%;
    height: 263px;
}