@use '../abstracts/variables';
@use '../abstracts/mixins';

/**********************/
/* PIECHART COMPONENT */
/**********************/

.radialchart {
    position: relative;
    background-color: #fbfbfb;
    width: 100%;
    height: 263px;
    border-radius: 5px;

    &__title,
    &__score,
    &__items {
        position: absolute;
    }

    &__title {
        top: 24px;
        left: 24px;
        @include mixins.font-size(15px);
        font-weight: 500;
        margin: 0;
    }

    &__score {
        width: 190px;
        height: 190px;
        background-color: variables.$white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        border-radius: 50%;
    }

    &__items {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__result {
        display: block;
        @include mixins.font-size(26px);
        font-weight: 700;
        margin: 0;
    }

    &__txt {
        @include mixins.font-size(16px);
        font-weight: 500;
        margin: 0;
        color: #74798C;
    }
}