/**********/
/* FONTS */
/*********/

$font-default: 'Roboto', sans-serif;

/***********/
/* COLORS */
/**********/

$primary-color: #FF0101;
$white: #ffffff;
$black: #000000;

/*********/
/* Size */
/********/

$wrapper: 63px 8% 50px;
$wrapper-medium: 40px 8% 50px;


/***************/
/* RESPONSIVE */
/**************/

// 1.Breakpoints map for responsive
$breakpoints: (
    medium: 1024px
);