/**********/
/* FONTS */
/*********/

$font-default: 'Roboto', sans-serif;

/***********/
/* COLORS */
/**********/

$primary-color: #FF0101;
$white: #ffffff;
$black: #000000;

/*********/
/* Size */
/********/

$wrapper-home: 158px 90px 0 90px;
$wrapper-dashboard: 130px 70px 30px 190px;
$wrapper-dashboard-small: 130px 30px 15px 160px;


/***************/
/* RESPONSIVE */
/**************/

// 1.Breakpoints map for responsive
$breakpoints: (
    medium: 1490px,
    small: 1179px
);