/**********/
/* FONTS */
/*********/

$font-default: 'Roboto', sans-serif;

/***********/
/* COLORS */
/**********/

$primary-color: #FF0101;
$white: #ffffff;
$black: #000000;

/*********/
/* Size */
/********/

$wrapper-home: 158px 90px 0 90px;
$wrapper-dashboard: 158px 90px 0 207px;


/***************/
/* RESPONSIVE */
/**************/

// 1.Breakpoints map for responsive
$breakpoints: (
    medium: 1024px
);