@use '../abstracts/variables';
@use '../abstracts/mixins';

/************************/
/* ERROR 404 PAGE STYLE */
/************************/

.error-404 {
    width: 75%;
    margin: 0 auto;
    padding: variables.$wrapper-home;
    text-align: center;

    &__title {
        @include mixins.font-size(80px);
        color: variables.$primary-color;
        font-weight: 700;
        line-height: 1.2;
        margin: 50px 0 70px 0;
    }

    &__link {
        @include mixins.font-size(24px);
        font-weight: 500;
        text-decoration: underline;
    }
}