@use '../abstracts/variables';
@use '../abstracts/mixins';

/*******************/
/* HOMEPAGE STYLE */
/******************/

.home {
    padding: variables.$wrapper-home;

    &__profiles {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .profile-card {
            width: 400px;
            height: 500px;
        }
    }
}