@use '../abstracts/variables';
@use '../abstracts/mixins';

/************/
/* GENERAL */
/***********/

* {
    box-sizing: border-box;
}

*:focus-visible {
    box-shadow: 0 0 0 4px variables.$primary-color;
    outline: 0;
}

html,
body,
#root,
.app,
main {
    height: 100%;
}

html {
    font-size: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

li {
    list-style-type: none;
}