@use '../abstracts/variables';
@use '../abstracts/mixins';

// Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: variables.$font-default;
    @include mixins.font-size(18px);
    font-weight: 500;
    line-height: 1.5;
    color: variables.$primary-color;
}

a {
    color: variables.$black;
    text-decoration: none;

    &:hover {
        color: variables.$primary-color;
    }
}